<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Căn Hộ Cho Thuê</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.thang</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>vi</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>can_ho_cho_thue</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GMSApiKey</key>
	<string>$(GMS_API_KEY)</string>
	<key>GIDClientID</key>
	<string>1002991493492-6po9up61rm67bhgd0td98regoottb3de.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập camera để chụp ảnh tin đăng.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập vị trí để hiển thị căn hộ gần bạn.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Ứng dụng cần quyền lưu ảnh vào thư viện.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập thư viện ảnh để chọn ảnh tin đăng.</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<false/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>FacebookAppID</key>
	<string>1926436761609061</string>
	<key>FacebookDisplayName</key>
	<string>App_WRStudios</string>
	<key>FacebookClientToken</key>
	<string>f90c7f8a8b6fad5de1bcff0931f4e4fc</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1926436761609061</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1002991493492-6po9up61rm67bhgd0td98regoottb3de</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
